{% extends 'base.html.twig' %}

{% block title %}
	Register
{% endblock %}


{% block content %}

<div class="container" style="height: 75vh;">
	<div class="row justify-content-center align-items-center h-75">
		<div class="col col-md-6">
		
		{{ form_start(registrationForm) }}
		{% if not registrationForm.vars.valid %}
		<div class="alert alert-danger" style="font-size:14px">
			{% for error in registrationForm.vars.errors|raw %}
				
				{{ error.message }}
				<br/>
			{% endfor %}
		</div>
		{% endif %}
		<h1 class="h3 mb-4 mt-2 font-weight-normal">
			Register
		</h1>

		{{ form_row(registrationForm.email, {
			'attr': {
				'class': 'mb-3 form-control',
				'autofocus': 'true'
			}
			
		}) }}
		{{ form_row(registrationForm.plainPassword, {
    	        label: 'Password',
				'attr': {
					'class': 'mb-3 form-control'
				}
    	    }) }}
		<div class="form-group form-check mb-3">
		{{ form_row(registrationForm.agreeTerms, {
			'attr': {
				'class': "form-check-input"
			}
		}) }}
		</div>

		<button type="submit" class="btn btn-primary">
			Sign up
		</button>
		{{ form_end(registrationForm) }}
		<p class="mt-5">and if you have an account</p>
		<a href="{{path('app_login')}}" class="btn btn-sm mt-2" style="background-color: #d63384; color: #fff">Sign in</a>
		</div>
	</div>
</div>
{% endblock %}
